*{
    padding: 0;
    margin: 0;
}
html,body {
    height: 100%;
}
body {
    font-size: 0;
    text-align: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}